<!DOCTYPE html>
<html>

<head>

    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <link href="stylesheets/bootstrap.yeti.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/kom.css" rel="stylesheet" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>

    <!-- For Local testing -->
    <!-- <script src="javascripts/jquery.min.js"></script>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/kom.css" rel="stylesheet" type="text/css" />
    <script src="javascripts/bootstrap.js"></script> -->

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hopeless Heroes: Skills Calculator</title>
</head>

<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Hopeless Heroes: Skills Points Calculator</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="skillsVue.html">Skills Calculator</a></li>
            </ul>
        </div>
    </div>
    <div id="heroCalc" class="container">
        <div class="page-header hidden-xs hidden-sm">
            <h1>Hopeless Heroes: Skills Calculator</h1>
        </div>
        <div id="app">
            <div class="row">
                <div v-bind:class="columnsClass">
                    <div class="row" v-for="(tier, index) in groupBy(skillsTree.greed, 'tier')">
                        <span v-for="(item, ind) in tier">
                            <div v-if="item.tier==1" class="col-xs-4"></div>
                            <div class="col-xs-4">
                                <img v-bind:src="item.src" @click="selectSkillItem(item)" v-bind:alt="item.name"
                                    v-bind:index=index style="width: 50px; height: 50px; cursor:pointer;"
                                    v-bind:class="tierUnlocked(item)">
                                </img><span class="badge badge-pill badge-dark">{{item.level}}</span>
                            </div>
                            <div v-if="item.tier==1" class="col-xs-4"></div>
                        </span>
                    </div>
                </div>
                <div class="visible-xs col-xs-12"><p></p></div>
                <div v-bind:class="columnsClass">
                    <div class="row" v-for="(tier, index) in groupBy(skillsTree.bravery, 'tier')">
                        <span v-for="(item, ind) in tier">
                            <div v-if="item.tier==1" class="col-xs-4"></div>
                            <div class="col-xs-4">
                                <img v-bind:src="item.src" @click="selectSkillItem(item)" v-bind:alt="item.name"
                                    v-bind:index=index style="width: 50px; height: 50px; cursor:pointer;"
                                    v-bind:class="tierUnlocked(item)">
                                </img><span class="badge badge-pill badge-dark">{{item.level}}</span>
                            </div>
                            <div v-if="item.tier==1" class="col-xs-4"></div>
                        </span>
                    </div>
                </div>
                <div class="visible-xs col-xs-12"><p></p></div>
                <div v-bind:class="columnsClass">
                    <div class="row" v-for="(tier, index) in groupBy(skillsTree.wisdom, 'tier')">
                        <span v-for="(item, ind) in tier">
                            <div v-if="item.tier==1" class="col-xs-4"></div>
                            <div class="col-xs-4">
                                <img v-bind:src="item.src" @click="selectSkillItem(item)" v-bind:alt="item.name"
                                    v-bind:index=index style="width: 50px; height: 50px; cursor:pointer;"
                                    v-bind:class="tierUnlocked(item)">
                                </img><span class="badge badge-pill badge-dark">{{item.level}}</span>
                            </div>
                            <div v-if="item.tier==1" class="col-xs-4"></div>
                        </span>
                    </div>
                </div>
            </div>

            <p></p>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <table class="table">
                        <tr>
                            <td>Skill: </td>
                            <td>{{selectedSkill.name}}</td>
                        </tr>
                        <tr>
                            <td>Tier: </td>
                            <td>{{selectedSkill.tier}}</td>
                        </tr>
                        <tr>
                            <td>Level: </td>
                            <td>{{selectedSkill.level}}</td>
                        </tr>
                        <tr>
                            <td>Greed Points: </td>
                            <td>{{greedPointsCost}}</td>
                        </tr>
                        <tr>
                            <td>Bravery Points: </td>
                            <td>{{braveryPointsCost}}</td>
                        </tr>
                        <tr>
                            <td>Wisdom Points: </td>
                            <td>{{wisdomPointsCost}}</td>
                        </tr>
                        <tr>
                            <td>Total Points: </td>
                            <td>{{totalPointsCost}}</td>
                        </tr>
                        <tr>
                            <td><button v-on:click="increaseSkillLevel"
                                    v-bind:class="[this.selectedSkill.disabled ? 'disabled' : '', 'btn btn-success']">Increase</button>
                            </td>
                            <td><button v-on:click="decreaseSkillLevel"
                                    v-bind:class="[this.selectedSkill.disabled ? 'disabled' : '', 'btn btn-warning']">Decrease</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                selectedSkill: {},
                columnsClass: "col-xs-9 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-4 col-md-offset-0 text-center",
                totalPointsCost: 0,
                greedPointsCost: 0,
                braveryPointsCost: 0,
                wisdomPointsCost: 0,
                skillsTree: {
                    tiers: [
                        {
                            pointsToUnlock: 0,
                            cost: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
                        },
                        {
                            pointsToUnlock: 3,
                            cost: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
                        },
                        {
                            pointsToUnlock: 15,
                            cost: [2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 14, 15, 16, 18, 19, 20, 22, 23, 25, 26]
                        },
                        {
                            pointsToUnlock: 35,
                            cost: [3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 30]
                        }
                    ],
                    greed: [
                        {
                            name: "Employee Benefits",
                            src: "images/Skills/Greed/1-employee-benefits.png",
                            tier: 1,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "Collect Taxes",
                            src: "images/Skills/Greed/2-collect-taxes.png",
                            tier: 2,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "Hostile Takeover",
                            src: "images/Skills/Greed/3-hostile-takeover.png",
                            tier: 2,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "Greedy Goop",
                            src: "images/Skills/Greed/4-greedy-goop.png",
                            tier: 2,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "Heavenly Gifts",
                            src: "images/Skills/Greed/5-heavenly-gifts.png",
                            tier: 3,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "Fool's Gold",
                            src: "images/Skills/Greed/6-fools-gold.png",
                            tier: 3,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "The More the Merrier",
                            src: "images/Skills/Greed/7-the-more-the-merrier.png",
                            tier: 3,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "Pig's Greed",
                            src: "images/Skills/Greed/8-pigs-greed.png",
                            tier: 4,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "Kingpin",
                            src: "images/Skills/Greed/9-kingpin.png",
                            tier: 4,
                            tree: "greed",
                            level: 0
                        },
                        {
                            name: "Hidden Treasures",
                            src: "images/Skills/Greed/10-hidden-treasures.png",
                            tier: 4,
                            tree: "greed",
                            level: 0
                        }
                    ],
                    bravery: [
                        {
                            name: "Hack and Slash",
                            src: "images/Skills/Bravery/1-hack-and-slash.png",
                            tier: 1,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "Knockout",
                            src: "images/Skills/Bravery/2-knockout.png",
                            tier: 2,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "Predator Instinct",
                            src: "images/Skills/Bravery/3-predator-instinct.png",
                            tier: 2,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "Seize the Throat",
                            src: "images/Skills/Bravery/4-seize-the-throat.png",
                            tier: 2,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "All For One",
                            src: "images/Skills/Bravery/5-all-for-one.png",
                            tier: 3,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "Cute But Deadly",
                            src: "images/Skills/Bravery/6-cute-but-deadly.png",
                            tier: 3,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "Lion Claws",
                            src: "images/Skills/Bravery/7-lion-claws.png",
                            tier: 3,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "Gang Up",
                            src: "images/Skills/Bravery/8-gang-up.png",
                            tier: 4,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "Master of Arms",
                            src: "images/Skills/Bravery/9-master-of-arms.png",
                            tier: 4,
                            tree: "bravery",
                            level: 0
                        },
                        {
                            name: "Piercing Strike",
                            src: "images/Skills/Bravery/10-piercing-strike.png",
                            tier: 4,
                            tree: "bravery",
                            level: 0
                        }
                    ],
                    wisdom: [
                        {
                            name: "Forbidden Knowledge",
                            src: "images/Skills/Wisdom/1-forbidden-knowledge.png",
                            tier: 1,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Dragon Spirit",
                            src: "images/Skills/Wisdom/2-dragon-spirit.png",
                            tier: 2,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Deep Meditaion",
                            src: "images/Skills/Wisdom/3-deep-meditation.png",
                            tier: 2,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Vorpal Sword",
                            src: "images/Skills/Wisdom/4-vorpal-sword.png",
                            tier: 2,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Arcane Leech",
                            src: "images/Skills/Wisdom/5-arcane-leech.png",
                            tier: 3,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Power Prism",
                            src: "images/Skills/Wisdom/6-power-prism.png",
                            tier: 3,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Steal the Rainbow",
                            src: "images/Skills/Wisdom/7-steal-the-rainbow.png",
                            tier: 3,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Desintegration",
                            src: "images/Skills/Wisdom/8-desintegration.png",
                            tier: 4,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Corrosive Blight",
                            src: "images/Skills/Wisdom/9-corrosive-blight.png",
                            tier: 4,
                            tree: "wisdom",
                            level: 0
                        },
                        {
                            name: "Extra Spicy",
                            src: "images/Skills/Wisdom/10-extra-spicy.png",
                            tier: 4,
                            tree: "wisdom",
                            level: 0
                        }
                    ]
                }
            },
            methods: {
                showName: function (e) {
                    console.log(e.target.alt);
                },
                getSkillAbove: function(item) {
                    var tree = this.skillsTree[item.tree];
                    var index = tree.indexOf(item);
                    var indexAbove = index - 3;
                    var normalizedAboveIndex = indexAbove < 0 ? 0 : indexAbove;
                    console.log("selected:" + index + " Above: " + normalizedAboveIndex);
                    return tree[normalizedAboveIndex];
                },
                selectSkillItem: function (item) {
                    this.selectedSkill = item;
                    var skill = this.getSkillAbove(item);
                    console.log(skill.name);
                },
                increaseSkillLevel: function () {
                    if (this.selectedSkill.level >= 0 && this.selectedSkill.level < 20) {
                        this.selectedSkill.level++;
                        this.addTotalCost(this.selectedSkill.tier, this.selectedSkill.level, this.selectedSkill.tree);
                    }
                },
                decreaseSkillLevel: function () {
                    if (this.selectedSkill.level > 0) {
                        this.decreseTotalCost(this.selectedSkill.tier, this.selectedSkill.level, this.selectedSkill.tree);
                        this.selectedSkill.level--;
                    }
                },
                addTotalCost: function (tier, level, tree) {
                    var tierData = this.skillsTree.tiers[tier - 1];
                    var cost = tierData.cost[level - 1];
                    this.totalPointsCost += cost;
                    this.increaseTreeCost(tree, cost);
                },
                decreseTotalCost: function (tier, level, tree) {
                    var tierData = this.skillsTree.tiers[tier - 1];
                    var cost = tierData.cost[level - 1];
                    this.totalPointsCost -= cost;
                    this.decreaseTreeCost(tree, cost);
                },
                increaseTreeCost: function (tree, cost) {
                    if (tree === "greed")
                        this.greedPointsCost += cost;
                    else if (tree === "bravery")
                        this.braveryPointsCost += cost;
                    else this.wisdomPointsCost += cost;
                },
                decreaseTreeCost: function (tree, cost) {
                    if (tree === "greed")
                        this.greedPointsCost -= cost;
                    else if (tree === "bravery")
                        this.braveryPointsCost -= cost;
                    else this.wisdomPointsCost -= cost;
                },
                groupBy: function (xs, key) {
                    return xs.reduce(function (rv, x) {
                        (rv[x[key]] = rv[x[key]] || []).push(x);
                        return rv;
                    }, {});
                },
                tierUnlocked: function (item) {
                    var pointsToUnlock = this.skillsTree.tiers[item.tier - 1].pointsToUnlock;
                    var itemAbove = this.getSkillAbove(item);
                    if ((item.tree == "greed" && this.greedPointsCost >= pointsToUnlock ||
                        item.tree == "bravery" && this.braveryPointsCost >= pointsToUnlock ||
                        item.tree == "wisdom" && this.wisdomPointsCost >= pointsToUnlock) &&
                        (itemAbove.level > 0 || itemAbove.tier == item.tier)) {
                        item.disabled = false;
                        return "";
                    }
                    else {
                        item.disabled = true;
                        return "disabled grayscale";
                    }
                }
            },
            computed: {
                tiersGrid: function () {
                    var allSkills = this.skillsTree.greed.concat(this.skillsTree.bravery).concat(this.skillsTree.wisdom);
                    var group = this.groupBy(allSkills, "tier");
                    return group
                }
            }
        })



    </script>
    <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-609759-7', 'lair.co.il');
        ga('send', 'pageview');

    </script>
</body>

</html>