<!DOCTYPE html>
<html>

<head>
    <!-- 
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap.yeti.min.css" rel="stylesheet" type="text/css" /> -->

    <!-- <link href="stylesheets/kom.css" rel="stylesheet" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script> -->


    <!-- For Local testing -->
    <script src="javascripts/jquery.min.js"></script>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/kom.css" rel="stylesheet" type="text/css" />
    <script src="javascripts/bootstrap.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hopeless Heroes: Skills Calculator</title>
</head>

<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Hopeless Heroes: Skills Points Calculator</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="skills.html">Skills Calculator</a></li>
            </ul>
        </div>
    </div>
    <div id="heroCalc" class="container">
        <div class="row">
            <div class="page-header">
                <h1>Hopeless Heroes: Skills Calculator</h1>
            </div>
        </div>
        <div id="app">
            <div class="row">
                <!-- <div class="col-xs-1">
                    <img v-bind:src="skillsTree.greed[0].src" @click="selectSkill($event)" v-bind:alt="skillsTree.greed[0].name"
                        v-bind:index=0 />
                </div> -->
                <!-- <div class="col-xs-1" v-for="(item, index) in skillsTree.greed">
                    <img v-bind:src="skillsTree.greed[index].src" @click="selectSkillItem(item)" v-bind:alt="skillsTree.greed[index].name"
                        v-bind:index=index style="width: 50px; height: 50px;" />
                    <span class="badge badge-pill badge-dark pull-right">{{skillsTree.greed[index].level}}</span>
                </div> -->
            </div>
            <p></p>
            <!-- <div v-for="(item, i) in tiersGrid">
                <div class="row text-center">
                    <div v-for="(item, index) in item" class="col-xs-1">
                        <img v-bind:src="skillsTree.greed[i].src" @click="selectSkillItem(item)" v-bind:alt="skillsTree.greed[index].name"
                            v-bind:index=index style="width: 50px; height: 50px;" />
                        <span class="badge badge-pill badge-dark pull-right">{{skillsTree.greed[index].level}}</span>
                    </div>
                </div>
            </div>
            <p></p> -->
            <div v-for="(tier, ind) in tiersGrid">
                <div class="row">
                    <div v-if="ind==1" class="col-xs-1 "></div>
                    <span v-for="(item, index) in tier" class="col-xs-1">
                            
                        <img v-bind:src="item.src" @click="selectSkillItem(item)" v-bind:alt="item.name" v-bind:index=index
                            style="width: 50px; height: 50px;">
                        <span class="badge badge-pill badge-dark pull-right">{{item.level}}</span></img>
                    </span>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-xs-4">
                    <table class="table">
                        <tr>
                            <td>Skill: </td>
                            <td>{{selectedSkill.name}}</td>
                        </tr>
                        <tr>
                            <td>Tier: </td>
                            <td>{{selectedSkill.tier}}</td>
                        </tr>
                        <tr>
                            <td>Level: </td>
                            <td>{{selectedSkill.level}}</td>
                        </tr>
                        <tr>
                            <td>Total Points: </td>
                            <td>{{totalPointsCost}}</td>
                        </tr>                      
                        <tr>
                            <td><button v-on:click="increaseSkillLevel">Increase</button></td>
                            <td><button v-on:click="decreaseSkillLevel">Decrease</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- <footer>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-unstyled">
                        <li class="pull-right"><a href="#top">Back to top</a></li>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="https://github.com/trollsic/HobbitKOM">GitHub</a></li>
                    </ul>
                    <p>Made by Anton Troshin. Contact me at <a href="https://github.com/trollsic/">https://github.com/trollsic/</a>.</p>
                    <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
                    <p>Based on <a href="http://getbootstrap.com">Bootstrap</a>, Theme <a href="http://bootswatch.com/yeti/">Yeti</a>
                        made by <a href="http://thomaspark.me">Thomas Park</a>. Contact him at <a href="mailto:hello@thomaspark.me">hello@thomaspark.me</a>.
                        Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts
                        from <a href="http://www.google.com/webfonts">Google</a>. Favicon by <a href="https://twitter.com/geraldhiller">Gerald
                            Hiller</a>.</p>

                </div>
            </div>
        </footer> -->
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                selectedSkill: {},
                totalPointsCost: 0,
                skillsTree: {
                    tiers: [
                        {
                            pointsToUnlock: 0,
                            cost: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
                        },
                        {
                            pointsToUnlock: 3,
                            cost: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
                        },
                        {
                            pointsToUnlock: 15,
                            cost: [2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 14, 15, 16, 18, 19, 20, 22, 23, 25, 26]
                        },
                        {
                            pointsToUnlock: 35,
                            cost: [3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 30]
                        }
                    ],
                    greed: [
                        {
                            name: "Employee Benefits",
                            src: "images/Skills/Greed/1-employee-benefits.png",
                            tier: 1,
                            level: 0
                        },
                        {
                            name: "Collect Taxes",
                            src: "images/Skills/Greed/2-collect-taxes.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Hostile Takeover",
                            src: "images/Skills/Greed/3-hostile-takeover.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Greedy Goop",
                            src: "images/Skills/Greed/4-greedy-goop.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Heavenly Gifts",
                            src: "images/Skills/Greed/5-heavenly-gifts.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "Fool's Gold",
                            src: "images/Skills/Greed/6-fools-gold.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "The More the Merrier",
                            src: "images/Skills/Greed/7-the-more-the-merrier.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "Pig's Greed",
                            src: "images/Skills/Greed/8-pigs-greed.png",
                            tier: 4,
                            level: 0
                        },
                        {
                            name: "Kingpin",
                            src: "images/Skills/Greed/9-kingpin.png",
                            tier: 4,
                            level: 0
                        },
                        {
                            name: "Hidden Treasures",
                            src: "images/Skills/Greed/10-hidden-treasures.png",
                            tier: 4,
                            level: 0
                        }
                    ],
                    bravery: [
                        {
                            name: "Employee Benefits",
                            src: "images/Skills/Greed/1-employee-benefits.png",
                            tier: 1,
                            level: 0
                        },
                        {
                            name: "Collect Taxes",
                            src: "images/Skills/Greed/2-collect-taxes.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Hostile Takeover",
                            src: "images/Skills/Greed/3-hostile-takeover.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Greedy Goop",
                            src: "images/Skills/Greed/4-greedy-goop.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Heavenly Gifts",
                            src: "images/Skills/Greed/5-heavenly-gifts.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "Fool's Gold",
                            src: "images/Skills/Greed/6-fools-gold.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "The More the Merrier",
                            src: "images/Skills/Greed/7-the-more-the-merrier.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "Pig's Greed",
                            src: "images/Skills/Greed/8-pigs-greed.png",
                            tier: 4,
                            level: 0
                        },
                        {
                            name: "Kingpin",
                            src: "images/Skills/Greed/9-kingpin.png",
                            tier: 4,
                            level: 0
                        },
                        {
                            name: "Hidden Treasures",
                            src: "images/Skills/Greed/10-hidden-treasures.png",
                            tier: 4,
                            level: 0
                        }
                    ],
                    wisdom: [
                        {
                            name: "Employee Benefits",
                            src: "images/Skills/Greed/1-employee-benefits.png",
                            tier: 1,
                            level: 0
                        },
                        {
                            name: "Collect Taxes",
                            src: "images/Skills/Greed/2-collect-taxes.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Hostile Takeover",
                            src: "images/Skills/Greed/3-hostile-takeover.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Greedy Goop",
                            src: "images/Skills/Greed/4-greedy-goop.png",
                            tier: 2,
                            level: 0
                        },
                        {
                            name: "Heavenly Gifts",
                            src: "images/Skills/Greed/5-heavenly-gifts.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "Fool's Gold",
                            src: "images/Skills/Greed/6-fools-gold.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "The More the Merrier",
                            src: "images/Skills/Greed/7-the-more-the-merrier.png",
                            tier: 3,
                            level: 0
                        },
                        {
                            name: "Pig's Greed",
                            src: "images/Skills/Greed/8-pigs-greed.png",
                            tier: 4,
                            level: 0
                        },
                        {
                            name: "Kingpin",
                            src: "images/Skills/Greed/9-kingpin.png",
                            tier: 4,
                            level: 0
                        },
                        {
                            name: "Hidden Treasures",
                            src: "images/Skills/Greed/10-hidden-treasures.png",
                            tier: 4,
                            level: 0
                        }
                    ]
                }
            },
            methods: {
                showName: function (e) {
                    console.log(e.target.alt);
                },
                selectSkill: function (e) {
                    var id = parseInt(e.target.attributes["index"].value);
                    this.selectedSkill = this.skillsTree.greed[id];
                },
                selectSkillItem: function (item) {
                    this.selectedSkill = item;
                },
                increaseSkillLevel: function () {
                    if (this.selectedSkill.level >= 0 && this.selectedSkill.level < 20) {
                        this.selectedSkill.level++;
                        this.addTotalCost(this.selectedSkill.tier, this.selectedSkill.level);
                    }
                },
                decreaseSkillLevel: function () {
                    if (this.selectedSkill.level > 0) {
                        this.decreseTotalCost(this.selectedSkill.tier, this.selectedSkill.level);
                        this.selectedSkill.level--;
                    }
                },
                addTotalCost: function (tier, level) {
                    var tierData = this.skillsTree.tiers[tier - 1]
                    this.totalPointsCost += tierData.cost[level - 1]
                },
                decreseTotalCost: function (tier, level) {
                    var tierData = this.skillsTree.tiers[tier - 1]
                    this.totalPointsCost -= tierData.cost[level - 1]
                },
                groupBy: function (xs, key) {
                    return xs.reduce(function (rv, x) {
                        (rv[x[key]] = rv[x[key]] || []).push(x);
                        return rv;
                    }, {});
                }
            },
            computed: {
                tiersGrid: function () {
                    var allSkills = this.skillsTree.greed.concat(this.skillsTree.bravery).concat(this.skillsTree.wisdom);
                    var group = this.groupBy(this.skillsTree.greed, "tier");
                    return group
                }
            }
        })



    </script>
    <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-609759-7', 'lair.co.il');
        ga('send', 'pageview');

    </script>
</body>

</html>